.byebug_history
.env.example
.git
.gitignore
.dockerignore
.gitlab-ci.yml
.circleci/*
.vscode/*
docker-compose.*
Dockerfile
Guardfile
coverage/*
log/*
node_modules/*
public/assets/*
public/packs/*
public/packs-test/*
tmp/*
