- content_for :content do
  div class="min-h-screen bg-gray-200 antialiased xl:flex xl:flex-col xl:h-screen" data-behavior="vue" v-cloak=""
    site-header[
      search-text= search_param
      user-name= "Isla Schoger"
      user-image= "https://images.unsplash.com/photo-1487412720507-e7ab37603c6f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=256&q=80"
      :primary-links= primary_links.to_json
      :account-links= account_links.to_json
    ]

    = yield

= render template: 'layouts/application'
